@page
@model benh.website.Pages.AdminModel
@{
}

<div class="text-center wiki-page">
    <br /><br /><br /><br />
    <h2 class="centered">Wiki admin login</h2>
    <hr />
    <br /><br /><br /><br />
    <div class="centered">
        U: <input type="text" />
    </div>
    <br /><br />
    <div class="centered">
        P: <input type="password" />
    </div>
</div>