@page
@model BioModel
@{
    ViewData["Title"] = "My Bio";
}

<div class="text-center">

    <br /><br /><br /><br />

    <!--  Main bio  -->
    <div class="container-center flex space-between">
        <div style="width:48%">
            <h3>About Me</h3>
            <p> My name is Ben, born in 1996.  I live in NE Ohio.  I studied computer science at Kent State University. </p>
            <br /><br />
            <h3>Career</h3>
            <p> I'm currently interviewing to work as a software developer at OverDrive.  </p>
            <br /><br />
            <h3>Hobbies</h3>
            <p>Drums and guitar</p>
            <p>Music writing</p>
            <p>3d modeling and printing</p>
            <p>Creative writing, especially scripts</p>
            <p>German and Spanish (still learning!)</p>
            <p>Visual design, for games, UIs, & art</p>
        </div>
        <div style="width:48%">
            <img src="~/assets/bio/selfie.jpg" style="width: 70%; padding: 0px 0px 20px 20px;" />
            <br />
            <p><img src="~/assets/icons/mail.png" class="icon" />benholland21@mailbox.org</p>
            <p><img src="~/assets/icons/phone.png" class="icon" />330.703.8105</p>
            <p><img src="~/assets/icons/github.png" class="icon" />www.github.com/bhollan5</p>
            <p><img src="~/assets/icons/resume.png" class="icon" /><a href="~/assets/bio/resume.pdf" target="_blank">View my resumé</a></p>
        </div>
    </div>

    <br /><br /><br /><br />

    <div class="ellipsis"></div>

    <!--  Top 5 section  -->

    <br /><br /><br /><br />

    <div class="container-center flex space-between">
        <div style="width:48%">
            <h3>Current top 5 albums</h3>
            <ol>
                <li>O My Heart by Mother Mother</li>
                <li>We've Been Talking by Enemies</li>
                <li>Magic Trix by Xenia Rubinos</li>
                <li>Ga Ga Ga Ga Ga by Spoon</li>
                <li>Omega La La by Rubblebucket</li>
            </ol>
            <br /><br />
            <h3>Current top 5 movies</h3>
            <ol>
                <li>In Bruges (2008)</li>
                <li>Birdman (2014)</li>
                <li>Stranger Than Fiction ()</li>
                <li>The Secret Life of Bees</li>
                <li></li>
            </ol>
        </div>
        <div style="width:48%">
            <h3>Current top 5 books</h3>
            <ol>
                <li>Frankenstein by Mary Shelley</li>
                <li>Malagash by Joey Comeau</li>
                <li>Little Fires Everywhere by Celeste Ng</li>
                <li></li>
                <li></li>
            </ol>
        </div>
    </div>

    <br /><br /><br /><br />
    <div class="divider-line"></div>
    <br /><br /><br /><br /><br /><br /><br /><br />

</div>
