@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <br/><br /><br /><br />
    <h3>Hi there!</h3>
    <p>
        My name is Ben Muirden Holland, or Ben H. This is my personal website.

    </p>
    <p>
        It contains my <a class="yellow" asp-page="/Bio">bio</a>, <a class="pink" asp-page="/Portfolio">portfolio</a>, <a class="green" asp-page="/Plans">current plans</a>, and my <a class="blue" asp-page="/Wiki">personal research wiki</a>.
    </p>
</div>
