@page
@model benh.website.Pages.PlansModel
@{
    ViewData["Title"] = "Plans";
}


<div class="text-center">
    <br /><br /><br /><br />


    <!--  Section 1: OverDrive  -->
    <div class="container-center flex space-between">
        <div style="width:48%">
            <p>My first upcoming priority is to get a job as a software developer at a good company.  </p>
            <br />
            <p>I'm interested in both frontend and backend work, for a company with an interesting mission.  </p>
            <br />
            <p>For frontend work, I'm comfortable with JS frameworks like VueJS, or .NET.  <span class="gray">I'm open to learning new technologies too! </span></p>
            <br />
            <p>I'm familiar with server-side tasks and tech too.  Check out my <a href="~/Bio">bio</a> for more about my experience.   </p>
        </div>
        <div style="width:48%">
        </div>
    </div>

    <br /><br /><br /><br />
    <br /><br /><br /><br />

    <div class="ellipsis"></div>

    <br /><br /><br /><br /><br /><br /><br /><br />



    <!--  Section 2: KitchenWare  -->
    <div class="container-center flex space-between">
        <div style="width:48%">
            <p>In my free time, I'm working on a personal project called Rooftop Media.  The project will be hosted at www.rooftop-media.org.</p>
            <br />
            <p>When I get the time to continue this project, I'd like it to be a non-profit software company. </p>
            <br />
            <p>Rooftop Media would have a personal website, with a company calendar, progress blog, and more. </p>
            <br /><br /><br />
            <p>Rooftop Media would produce open-source productivity software, like a photo editor, vector editor, video editor, animator, script editing tools, & more. </p>
            <br />
            <p>The software would be available on our online platform, which would also provide user file storage. Our services would be comparable to Google Drive. </p>
            <br />
            <!--<p>I have a pitch deck explaining the idea in more detail here. </p>-->
        </div>
        <div style="width:48%">
            <img src="~/assets/plans/rooftop-screenshot-1.png" style="padding: 20px; width: 70%;" />
            <br /><br />
            <img src="~/assets/plans/rooftop-screenshot-2.png" style="padding: 20px; width: 70%;" />
            <br /><br />
            <img src="~/assets/plans/rooftop-screenshot-3.png" style="padding: 20px; width: 70%;" />
        </div>
    </div>

    <br /><br /><br /><br />

    <div class="divider-line"></div>

    <br /><br /><br /><br /><br /><br /><br /><br />


    <!--  Section 3: Canyons  -->


</div>


