@page
@model benh.website.Pages.PlansModel
@{
    ViewData["Title"] = "Plans";
}


<div class="text-center">
    <br /><br /><br /><br />


    <!--  Section 1: OverDrive  -->
    <div class="container-center flex space-between">
        <div style="width:48%">
            <p>My first upcoming priority is to get a job as a developer at the Cleveland-based company, <b>OverDrive</b>.</p>
            <br />
            <p>OverDrive develops library apps, like Libby, which provide e-books and audio books to anyone with a library card. </p>
            <br />
            <p>I've been using Libby to check out & read different books for several years now. </p>
        </div>
        <div style="width:48%">
            <a href="https://www.overdrive.com/" target="_blank"><img src="~/assets/plans/libby_assets.png" style="padding: 20px; width: 70%;" /></a>
            <br />
        </div>
    </div>

    <br /><br /><br /><br />

    <div>
        <p>
            OverDrive develops with C#, using the ASP.net framework.<br />
            My prior experience has been with JavaScript, using JS frameworks like VueJS.
        </p>
        <br />
        <p>
            That's why this website -- <u>www.benh.website</u> -- is built using C# and ASP.net.<br />
            I've learned a lot, and I hope I'm able to apply my experience to my new job.
        </p>
        <br />

        <p class="gray">(OverDrive hiring team – if you're reading this, please hire me!)</p>
    </div>

    <br /><br /><br /><br />

    <div class="ellipsis"></div>

    <br /><br /><br /><br /><br /><br /><br /><br />



    <!--  Section 2: KitchenWare  -->
    <div class="container-center flex space-between">
        <div style="width:48%">
            <p>In my free time, I'm working on a personal project called Rooftop Media.  The project will be hosted at www.rooftop-media.org.</p>
            <br />
            <p>When I get the time to continue this project, I'd like it to be a non-profit software company. </p>
            <br />
            <p>Rooftop Media would have a personal website, with a company calendar, progress blog, and more. </p>
            <br /><br /><br />
            <p>Rooftop Media would produce open-source productivity software, like a photo editor, vector editor, video editor, animator, script editing tools, & more. </p>
            <br />
            <p>The software would be available on our online platform, which would also provide user file storage. Our services would be comparable to Google Drive. </p>
            <br />
            <!--<p>I have a pitch deck explaining the idea in more detail here. </p>-->
        </div>
        <div style="width:48%">
            <img src="~/assets/plans/rooftop-screenshot-1.png" style="padding: 20px; width: 70%;" />
            <br /><br />
            <img src="~/assets/plans/rooftop-screenshot-2.png" style="padding: 20px; width: 70%;" />
            <br /><br />
            <img src="~/assets/plans/rooftop-screenshot-3.png" style="padding: 20px; width: 70%;" />
        </div>
    </div>

    <br /><br /><br /><br />

    <div class="divider-line"></div>

    <br /><br /><br /><br /><br /><br /><br /><br />


    <!--  Section 3: Canyons  -->


</div>


