@page
@model benh.website.Pages.PlansModel
@{
    ViewData["Title"] = "Plans";
}


<div class="text-center">
    <br /><br /><br /><br />


    <!--  Section 1: OverDrive  -->
    <div class="container-center flex space-between">
        <div style="width:48%">
            <p>My first upcoming priority is to get a job as a developer at the Cleveland-based company, <b>OverDrive</b>.</p>
            <br />
            <p>OverDrive develops library apps, like Libby, which provide e-books and audio books to anyone with a library card. </p>
            <br />
            <p>I've been using Libby to check out & read different books for several years now. </p>
        </div>
        <div style="width:48%">
            <a href="https://www.overdrive.com/" target="_blank"><img src="~/assets/plans/libby_assets.png" style="padding: 20px; width: 70%;" /></a>
            <br />
        </div>
    </div>

    <br /><br /><br /><br />

    <div>
        <p>
            OverDrive develops with C#, using the ASP.net framework.<br />
            My prior experience has been with JavaScript, using JS frameworks like VueJS.
        </p>
        <br />
        <p>
            That's why this website -- <u>www.benh.website</u> -- is built using C# and ASP.net.<br />
            I've learned a lot, and I hope I'm able to apply my experience to my new job.
        </p>
        <br />

        <p>(OverDrive hiring team – if you're reading this, please hire me!)</p>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br />

    <div class="divider-line"></div>


    <!--  Section 2: KitchenWare  -->
    <!--  Section 3: Canyons  -->


</div>


