@page
@model PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">

    <br /><br /><br /><br />
    <p class="centered">Below are two websites I've designed that are in active commercial use. </p>

    <div class="portfolio-item">
        <img src="~/assets/portfolio/salbertlaw.png" class="portfolio-pic" alt="A screenshot of the home page of salbertlaw.com" />
        <div class="portfolio-item-text">
            <p>Website for the <b>Albert Law Firm</b>.</p>
            <p>This is a redesign of the law firm's old website, using VueJS.</p>
            <p>Live URL: <a href="https://salbertlaw.com/home" target="_blank">https://salbertlaw.com/home</a></p>
        </div>
    </div>

    <div class="portfolio-item">
        <img src="~/assets/portfolio/coyotehill.png" class="portfolio-pic" alt="A screenshot of the homepage of coyotehilllodge.com" />
        <div class="portfolio-item-text">
            <p>Website for the <b>Coyote Hill Lodge</b>.</p>
            <p>I designed & implemented this website with VueJS. </p>
            <p>Live URL: <a href="https://coyotehilllodge.com/" target="_blank">https://coyotehilllodge.com/</a></p>
        </div>
    </div>

    <br /><br /><br /><br />
    <p class="centered">And here are two websites I designed that are no longer in use. </p>

    <div class="portfolio-item">
        <img src="~/assets/portfolio/khe2019.png" class="portfolio-pic" alt="A screenshot of the home page of the KHE 2018 website.s" />
        <div class="portfolio-item-text">
            <p>Website for KSU's hackathon, <b>Kent Hack Enough 2018</b>.</p>
            <p>This was a collaborative effort, but I lead the website design this year. </p>
            <p>This website is no longer active.  You can see a style guide I made <a href="~/assets/portfolio/khe2019_StyleGuide.png" target="_blank">here</a>.</p>
        </div>
    </div>

    <div class="portfolio-item">
        <img src="~/assets/portfolio/benh.png" class="portfolio-pic" alt="A screenshot of the home page of my old personal website." />
        <div class="portfolio-item-text">
            <p>My old personal website.</p>
            <p>This website is no longer active. It used to be live at www.benh.io. </p>
            <p>You can browse an archived version <a href="~/assets/old_website/index.html" target="_blank">here</a>.</p>
        </div>
    </div>

    <br /><br /><br /><br />
    <p class="centered">
        Finally, this website is for a design company I founded with my friend, Nick C.<br />
        I made the 3d models used on the website, while Nick designed & coded the website itself.
    </p>
    <br /><br />

    <div class="portfolio-item">
        <img src="~/assets/portfolio/startupstirfry.png" class="portfolio-pic" />
        <div class="portfolio-item-text">
            <p>Website for <b>Startup Stirfry</b>.</p>
            <p>This website is still live.  This was a collaboration between me and Nick Crawford. </p>
            <p>Live URL:  <a href="https://startupstirfry.com/" target="_blank">https://startupstirfry.com/</a>.</p>
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br />

</div>
