@page "{title?}"
@model WikiModel
@{
}


<div class="text-center">

    <br/><br/>
    <h2>Welcome to the wiki.</h2>
    <p>This section is far from complete.</p>
    <br/><br />
    <h3>Current page: @Model.Title</h3>
</div>