@page "{title=My_Personal_Wiki}"
@model WikiModel
@{
}


<div class="text-center wiki-page">

    <br /><br /><br /><br />

    <h2 style="font-size:2em;">Editing: @Model.Title</h2>
    <hr />
    
    <div id="text-editor">
        <div class="option-bar">
            <div><b>B</b></div>
            <div><i>I</i></div>
            <div><u>U</u></div>
            <img src="~/assets/wiki/link_icon.png" />
            <img src="~/assets/wiki/image_icon.png" />
            <h3>H1</h3>
            <h3>H2</h3>
            <h3>H3</h3>
        </div>
        <textarea></textarea>
    </div>

    



    <br /><br /><br /><br /><br /><br /><br /><br />
    <!--<h3>Current page: @Model.Title</h3>-->
</div>